body {
  background: content-box radial-gradient(white, magenta);
 /*   background-image: url('/images/bear.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
  }