body {

  background: #ff99ff;
  
  /*background: content-box radial-gradient(white, rgb(222, 220, 222));

    background-image: url('/images/bear.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
  }